.thankyou-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sd-thankyou-wrap .order-box {
	display: flex;
	width: 100%;
	border-bottom: 1px dashed #ccc;
}

.sd-thankyou-wrap .order-box>* {
	padding: 1.5em;
}

.sd-thankyou-wrap .order-box>.order-box-v {
	margin-left: auto;
}

.sd-table__product-name.product-name>* {
	display: block;
}

.woocommerce-shipping-totals.shipping {
	display: none;
}

#sd_shipping_method_field .woocommerce-input-wrapper,
#sd_billing_title_field .woocommerce-input-wrapper
{
	display: flex;
	gap: 2em;
	align-items: center;
}
#sd_billing_title_field .r-wrapper,
#sd_shipping_method_field .r-wrapper
{
	display: flex;
	align-items: center;
}
#sd_billing_title_field .r-wrapper label,
#sd_shipping_method_field .r-wrapper label {
	margin-bottom: 0px;
}

.checkout-box.payment-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
}

.checkout-box {
	background: #fff;
	border-radius: 16px;
	padding: 1.5em;
	margin: 1em 0;
	border: 1px solid #ccc;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background: none;
}
.payment_box fieldset {
	border: none;
	padding: 0px;
}

.wc_payment_method.hide {
	display: none;
}

.hide {
	display: none !important;
}

.sd-retry-pay-msg {
	color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
	padding: 1.5em;
	margin: 1em 0;
}